.container {
    position: relative;
    text-align: center;
    color: #332fbe;
}

.container video {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container h3 {
    font-size: 2.5rem;
    background: linear-gradient(to right, #00b4db, #0083b0);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 10px;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container li {
    font-size: 1.2rem;
    background: linear-gradient(to right, #00b4db, #0083b0);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.text-muted {
    color: #888;
}

.py-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
